@charset "UTF-8";

.style1 {
    background-color: #ffd700;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    border: 1px solid #333;
}

.style2 {
    background-color: #87CEEB;
    color: #fff; /* White */
    font-family: 'Courier New', monospace;
    padding: 15px;
    border: 2px solid #004080;
}

.style3 {
    background-color: #90EE90;
    color: #333; 
    font-family: 'Georgia', serif;
    padding: 25px;
    border: 1px dashed #333;
}

.style4 {
    background-color: #ffa07a; 
    color: #333; 
    font-family: 'Verdana', sans-serif;
    padding: 18px;
    border: 2px dotted #333;
}

body {
    background-color: #f0f7da;
    padding-bottom: 50px;
}
